.btn-subb{
    border: none;
    height: 3em;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--navbar-footer-color);
    color: whitesmoke;
    align-content: center;
    margin-top: 1em;
}