<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/813362/pexels-photo-813362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ms-2">Featured</small>
          <small class="bg-light text-info text-center ms-2"
            >Views - 100,232</small
          >
          <small class="bg-light text-warning text-center ms-2"
            >LAST UPDATED - SEP 20, 2022</small
          >

          <h1 class="mt-3 mb-3">LONDON AND THE FASHION INDUSTRY</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
            laborum ducimus aut itaque culpa quia nobis ex inventore harum quas
            dolorem ab minus placeat dolor, adipisci obcaecati soluta dicta
            rerum eveniet? Ut, dolores consectetur alias nisi tempore nobis
            neque assumenda porro nemo, deserunt, aliquid eum accusamus
            voluptates iste labore magni optio. Nisi veritatis porro in natus!
            Illo aperiam non iure possimus ipsum doloremque accusamus vitae ab
            similique nisi veniam, numquam porro nesciunt vel ullam iste ipsa
            temporibus, pariatur laudantium praesentium! Ducimus quisquam dolore
            aperiam pariatur dolor esse, maiores id eligendi atque itaque
            labore, animi officiis harum qui voluptatem. Optio sint quae nobis,
            placeat id similique amet cum! Quasi libero quis iure. Nostrum
            labore odit temporibus nulla itaque error dolore dolor perspiciatis
            repellat est unde enim, vero inventore veritatis eum, possimus
            adipisci ipsam amet facere dicta at quis quidem optio velit. Et,
            officia aspernatur! Rerum porro, laudantium ab dignissimos provident
            quas nulla error dolorum ut soluta accusamus animi non fugiat aut
            velit voluptas rem perspiciatis aspernatur quibusdam, et cum magni
            similique. Id, molestias aliquam quisquam in expedita quasi sed?
            Ipsam unde quae illum distinctio ea iste, dignissimos veritatis
            fugit sit nostrum reprehenderit sint voluptatum harum eaque nihil
            deserunt consequatur et maiores!
          </p>
        </div>
        
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
    </div>
    
  </div>
</div>
