<div class="card shadow-effect mb-3">
    <img src="https://images.unsplash.com/flagged/photo-1556438758-8d49568ce18e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8aG90ZWwlMjByb29tfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60" alt="post-img" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ms-3">Featured</small>
        <small class="bg-light text-info text-center ms-3">Views - 100,254</small>

        <h5 class="mt-1">HOW TO CHOOSE A SWEATER!</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum obcaecati possimus ratione dicta, amet perspiciatis?</p>

        <small class="bg-light text-warning text-center ms-3">LAST UPDATED - 20 SEP 2022</small>

    </div>
</div>
